<div class="my-48 mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 text-center">
  <h1 class="text-4xl font-bold text-gray-600 mb-16">ようこそ FindLibrary へ</h1>
  <p class="text-lg text-gray-600 mb-16">このアプリは自習室のある図書館を簡単に検索できるサービスです。</p>

  <%= link_to 'ユーザー登録', new_user_path, class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-4 px-8 rounded mx-4 my-4" %>
  <%= link_to 'ログイン', login_path, class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-4 px-8 rounded mx-4 my-4" %>
  <%= link_to '図書館を探す', libraries_path, class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-4 px-8 rounded mx-4 my-4" %>
</div>
