<div class="container mx-auto max-w-7xl px-4 text-center">
  <h1 class="text-xl font-semibold mb-12 text-gray-600">マイページ</h1>

  <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto max-w-md">
    <!-- プロフィール情報表示 -->
    <h2 class="text-lg font-bold text-gray-600 mb-6">プロフィール情報</h2>

    <div class="flex items-center justify-start mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded">名前</div>
      <div class="ml-8 text-xl"><%= @profile.name %></div>
    </div>

    <div class="flex items-center justify-start mb-6">
      <div class="w-32 bg-gray-100 p-2 rounded">メールアドレス</div>
      <div class="ml-8 text-gray-600"><%= @user.email %></div>
    </div>
  </div>

  <!-- 編集ボタン -->
  <div class="text-center mt-4">
    <%= link_to 'プロフィールを編集する', edit_profile_path, class: "bg-gray-200 hover:bg-gray-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
</div>
