<div class="container mx-auto max-w-7xl px-4 text-center my-20">
  <h1 class="text-xl font-semibold text-gray-600 mb-4">お問い合わせ</h1>

  <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto text-center mb-20"> <!-- mb-20 を追加 -->
    <div class="mt-6">
      <p>FindLibraryに関してのご意見・ご要望などあればご連絡ください</p>
      <a href="https://twitter.com/rntq_75" class="text-blue-500 hover:text-blue-700">お問い合わせ先</a>
    </div>
  </div>
</div>
