<div class="container mx-auto max-w-7xl px-4 text-center my-20">
  <h1 class="text-xl font-semibold text-gray-600 mb-4"><i class="fa-solid fa-lock"></i> プライバシーポリシー</h1>

  <div class="border rounded-lg p-6 hover:bg-gray-100 mx-auto text-left">
    <p class="mb-6">FindLibrary（以下、「当方」といいます。）は，本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、お客様の個人情報の取扱いについて，以下のとおりプライバシーポリシーを定めます。</p>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">お客様から取得する情報</h2>
    <ol class="list-decimal ml-6 mb-6">
      <p>当方は、お客様から以下の情報を取得します。
        <ul class="list-disc ml-6">
          <li>氏名（ニックネームやペンネームも含む）</li>
          <li>メールアドレス</li>
          <li>写真や動画</li>
          <li>Cookie（クッキー）を用いて生成された識別情報</li>
          <li>お客様の位置情報</li>
        </ul>
      </p>
    </ol>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">お客様の情報を利用する目的</h2>
    <ol class="list-decimal ml-6 mb-6">
      <p>当方は、お客様から取得した情報を、以下の目的のために利用します。
        <ul class="list-disc ml-6">
          <li>本サービスに関する登録の受付、お客様の本人確認、認証のため</li>
          <li>お客様の本サービスの利用履歴を管理するため</li>
          <li>本サービスにおけるお客様の行動履歴を分析し、本サービスの維持改善に役立てるため</li>
          <li>本サービスに関するご案内をするため</li>
          <li>お客様からの問い合わせに対応するため</li>
          <li>当方の規約や法令に違反する行為に対応するため</li>
          <li>本サービスの変更、提供中止、終了、契約解除をご連絡するため</li>
          <li>当方規約の変更等を通知するため</li>
          <li>本サービスの提供、維持、保護及び改善のため</li>
        </ul>
      </p>
    </ol>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">安全管理のために講じた措置</h2>
    <ol class="list-decimal ml-6 mb-6">
      <p>当方がお客様から取得した情報に関して安全管理のために講じた措置につきましては、末尾記載のお問い合わせ先にご連絡をいただきましたら、法令の定めに従い個別にご回答させていただきます。</li>
    </ol>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">第三者提供</h2>
    <ol class="list-decimal ml-6 mb-6">
      <p>当方は、お客様から取得する情報のうち、個人データに該当するものについては、あらかじめお客様からの同意を得ずに、第三者に提供しません。但し、次の場合は除きます。
        <ul class="list-disc ml-6">
          <li>個人データの取り扱いを外部に委託する場合</li>
          <li>当方や本サービスが買収された場合</li>
          <li>事業パートナーと共同利用する場合</li>
          <li>法律によって合法的に第三者提供が許されている場合</li>
        </ul>
      </p>
    </ol>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">アクセス解析ツール</h2>
    <ol class="list-decimal ml-6 mb-6">
      <li>当方は、お客様のアクセス解析のために「Googleアナリティクス」を利用しています。Googleアナリティクスは、トラフィックデータ収集のためにCookieを使用しています。トラフィックデータは匿名で収集されており、個人を特定するものではありません。</li>
      <li>Cookieを無効にすることで、これらの情報の収集を拒否することができます。詳しくはお使いのブラウザ設定をご確認ください。</li>
    </ol>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">プライバシーポリシーの変更</h2>
    <ol class="list-decimal ml-6 mb-6">
      <p>当方は、必要に応じて、このプライバシーポリシーの内容を変更します。この場合、変更後のプライバシーポリシーの施行時期と内容を適切な方法により周知または通知します。</p>
    </ol>

    <h2 class="text-lg font-bold text-gray-600 mt-6 mb-4">お問い合わせ</h2>
    <ol class="list-decimal ml-6 mb-6">
      <li>お客様の情報の開示、情報の訂正、利用停止、削除をご希望の方は、問い合わせ先にご連絡ください。</li>
      <li>情報の開示請求には、一件当たり1,000円の事務手数料が発生します。</li>
    </ol>

    <p class="mb-6">事業者の氏名: 硲菜々子</p>

    <p class="mb-6">2024年1月18日 制定</p>
  </div>
</div>
